@keyframes rotateArrow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.arrow {
    transition: transform 200ms;
    transform-origin: 205px 205px;
    animation: rotateArrow 2s none;
}
